/* PhotoSwipe Plugin */
.psgal {
    margin: auto;
    padding-bottom:40px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity:0.1;
}
.psgal.use_masonry_ {
    opacity:1;
}

.psgal.use_masonry_1 {
    opacity:1; 
    text-align:center;
}
.psgal.photoswipe_showme {
    opacity:1;
}
.psgal figure {
    float: left;
    text-align: center;
    padding:5px;
    margin: 0px;
    box-sizing:border-box;
}
.psgal.use_masonry_1 figure {
    float:none; 
    display:inline-block;
}
.psgal a{
    display:block;
}
.psgal img {
    margin:auto;
    max-width:100%;
    width: auto;
    height: auto;
    border: 0;
}
.psgal figure figcaption {
    font-size:13px;
}
.msnry{
    margin:auto;
}
.pswp__caption__center {
    text-align: center;
}
.psgal.show_captions_ figure.photoswipe-gallery-caption {
    display:none;
}